@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
    font-family: 'Roboto', monospace;
    color: #020202;
    margin: 0.3rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

header {
    margin-bottom: 0.5em;
    padding: 1em;
    text-align: center;
    background: #1abc9c;
    color: #ffffff;
    font-size: 2em;
}

button,
datalist {
    background-color: rgb(255, 255, 255);
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid;
    border-color: #888888;
}

button:hover {
    background-color: #e0e0e0;
}

input[type=text] {
    color: #020202;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: #888888
}

#serialResults {
    font-family: 'Roboto', monospace;
    white-space: pre;
    height: 50%;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    overflow-wrap: break-word;
    height:calc(100% - 245px);
    border: 3px solid;
}