@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,500&display=swap');

* {
    font-family: 'Roboto', monospace;
    color: #020202;
    margin: 0.2rem;
    border-radius: 0.4rem;
    padding: 0.3rem;
}

body{
    width: 90%;
    height: 100%;
    padding: 0rem;
    border: 0rem;
}

header {
    margin-bottom: 0.5em;
    padding: 1em;
    text-align: center;
    background: hsl(168, 76%, 45%);
    color: #ffffff;
    font-size: 2em;
    font-weight: normal;
}

h5 {
    display: inline;
    padding-right: 0em;
    margin-right: 0em;
    font-weight: lighter;
}

button,
datalist {
    background-color: rgb(255, 255, 255);
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid;
    border-color: hsl(168, 76%, 45%);
}

button:hover {
    background-color: hsl(168, 76%, 92%);
    border-color: hsl(168, 76%, 45%);
}

input[type=text] {
    color: #020202;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: #888888;
}

input:hover[type=text] {
    border: 1px solid;
    border-color: #020202;
}

#serialResults {
    font-family: 'Roboto', monospace;
    white-space: pre;
    width: calc(111% - 2.9rem);
    height: 20%;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-wrap: break-word;
    border: 3px solid;
    border-color: #020202;
    font-weight: lighter;
    font-size: 0.9em;
}

canvas {
    position: relative;
    top: 0;
    left: 0;
    margin: 0rem;
    padding: 0rem;
}

#container {
    width: calc(111% - 1.2rem);
    height: 500px;
    border: 3px solid;
    padding: 0rem;
}